langchain # framework for building LLM apps and AI Workflows
langchain-community # loaders, vector-stores, tools, etc
langchain-google-genai>=2.1.0
google-genai>=1.30.0
langchain-huggingface
sentence-transformers  #connect langchain with gemini models, embedding 
langchain-chroma # langchain and chroma vector db
langgraph # build AI agents and workflow, allow conditional routing
chromadb # vector DB
pypdf #reads pdf
python-dotenv # load things from API keys
streamlit # quickly creates web based UI for AI and data apps
pandas
openpyxl # load xlsx files 
